.DialogOverlay {
  background-color: rgba(43, 43, 43, 0.8);
  position: fixed;
  inset: 0;
  animation: overlayShow 500ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent {
  background-color: white;
  border-radius: 6px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 380px;
  padding: 25px;
  z-index: 99999;
  will-change: transform, opacity;
}

.DialogContent[data-state='open'] {
  animation: contentShow 500ms cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.DialogContent[data-state='closed'] {
  animation: contentHide 500ms cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.DialogContent:focus {
  outline: none;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes contentHide {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
